/* Fonts */
@font-face {
    font-family: brushScriptMTfont;
    src: url('../fonts/brushScriptMTfont.ttf') format('truetype');
}
@font-face {
    font-family: garamondFont;
    src: url('../fonts/garamondFont.ttf') format('truetype');
}


/* Links that open on new tabs without decoration */
.linkPopUp {
    text-decoration: none;
    /* target: _blank; THIS IS SETUP WITH JS*/
    /* rel: noopener noreferrer; THIS IS SETUP WITH JS*/
}

/* DESKTOP, DEFAULT */
.shortScreen {
    display: none;
}
.longScreen {
    display: inline;
}

#linksTopbar {
    font-family: brushScriptMTfont;
    height: 44px;
    font-size: 22px;
}

#navTopbar {
    font-family: garamondFont;
    height: 72px;
    font-size: 36px;
}

/* SMALL DESKTOP */
@media screen and (max-width: 1000px) {
    .shortScreen {
        display: inline;
    }
    .longScreen {
        display: none;
    }
}

/* MOBILE PORTRAIT */
@media (hover: none) and (orientation: portrait) {
    .shortScreen {
        display: inline;
    }
    .longScreen {
        display: none;
    }
    #linksTopbar {
        height: 96px;
        font-size: 40px;
    }
    #navTopbar {
        height: 96px;
        font-size: 30px;
    }
}

/* MOBILE LANDSCAPE */
@media (hover: none) and (orientation: landscape) {
    .shortScreen {
        display: none;
    }
    .longScreen {
        display: inline;
    }
    #navTopbar {
        height: 44px;
        font-size: 18px;
    }
}

/* ################### */
/* Carousel */
/* ################### */
.carrousel-child {
    transition: opacity 0.3s ease;
}