/* Fonts */
@font-face {
    font-family: brushScriptMTfont;
    src: url('../fonts/brushScriptMTfont.ttf') format('truetype');
}
@font-face {
    font-family: garamondFont;
    src: url('../fonts/garamondFont.ttf') format('truetype');
}

/* DESKTOP, DEFAULT */
.shortScreen { display: none; }
.longScreen { display: inline; }
#linksTopbar {
    font-family: brushScriptMTfont;
    height: 44px;
    font-size: 22px;
}
#navTopbar {
    font-family: garamondFont;
    height: 72px;
    font-size: 32px;
}
h1 { font-size: 70px; }
h2 { font-size: 40px;}
p { font-size: 20px; }

/* SMALL DESKTOP */
@media screen and (max-width: 1000px) {
    .shortScreen { display: inline; }
    .longScreen { display: none; }
}

/* MOBILE PORTRAIT */
@media (hover: none) and (orientation: portrait) {
    .shortScreen { display: inline; }
    .longScreen { display: none; }
    #linksTopbar {
        height: 76px;
        font-size: 40px;
    }
    #navTopbar {
        height: 120px;
        font-size: 38px;
    }
    h1 { font-size: 80px; }
    h2 { font-size: 60px; }
    h3 { font-size: 40px; }
    h4 { font-size: 36px; }
    h5 { font-size: 32px; }
    ul { font-size: 28px; }
    p { font-size: 28px; }
}

/* MOBILE LANDSCAPE */
@media (hover: none) and (orientation: landscape) {
    .shortScreen { display: none; }
    .longScreen { display: inline; }
    #navTopbar {
        height: 72px;
        font-size: 28px;
    }
    p { font-size: 20px; }
}

/* ################### */
/* Links that open on new tabs without decoration */
/* ################### */
.linkPopUp {
    text-decoration: none;
    /* target: _blank; THIS IS SETUP WITH JS*/
    /* rel: noopener noreferrer; THIS IS SETUP WITH JS*/
}

/* ################### */
/* Typewriter */
/* ################### */
#typewriterProjects {
    position: relative;
    white-space: nowrap;
}
#typewriterProjects::after {
    content: '|';
    height: 110%;
    position: absolute;
    top: -3px;
    right: 0;
    color: black;
    background-color: rgb(231, 231, 226);
    width: 100%;
    animation: typewritingProjects 4s steps(25) alternate infinite,
                caret 1s infinite;

}
@keyframes typewritingProjects{
    0% { width: 0%; }
    70% { width: 0%; }
    90% { width: 100%; }
    100% { width: 100%; }
}
@keyframes caret{
    50% { color: transparent; }
}

/* ################### */
/* Project grid */
/* ################### */
.gridElement {
    width: 600px;
    height: 338px;
    padding: 20px;
    margin: auto;
    cursor: pointer;
    transition: box-shadow 0.3s;
    transition: background-image 0.5s;
}
.gridElement > :first-child {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
    font-weight: bolder;
}
.gridElement > :first-child > :nth-child(3) {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
}
.gridElement:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

/* ################### */
/* Carousel */
/* ################### */
.carrousel-child {
    flex: 0;
    opacity: 0.2;
    transition: opacity 0.8s ease;
    text-align: center;
}