<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="{{rootFolder}}assets/libraries/bootstrap5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="{{rootFolder}}assets/libraries/fontawesome6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/atom-one-dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
    <script src="https://public.flourish.studio/resources/embed.js"></script>
    
    <link rel="stylesheet" href="{{rootFolder}}assets/css/style.css">
    <link rel="stylesheet" href="{{rootFolder}}assets/css/github-markdown-dark.css">
    <script src="{{rootFolder}}assets/js/common.js"></script>
    <title>{{title}}</title>
	
	{{favicon}}
</head>

{{googleAnalytics}}

<body>
<div id="HTMLdata"
section="blog">
</div>
<div style="display: flex; flex-direction: column; height: 100vh; width: 100vw; overflow-x: hidden; background-color: rgb(35, 39, 50);">
	<div id="HTMLtopbar" style="flex: 0;">{{HTMLtopbar}}</div>
    <div style="flex: 1; display: flex;">
        <div class="markdown-body sidebarHide" style="flex: 1; min-width: 20px; max-width: 12%;"><br>[toc]</div>
        <div class="markdown-body" id="HTMLpost">{{content}}</div>
        <div style="flex: 1; min-width: 20px;"></div>
    </div>
</div>
<script>
// Table of contents fix for correct opening and closing of detail-summary blocks
function toggleDetails(event) {
    if (event.offsetX < 0) {
        event.stopPropagation();
        const details = event.currentTarget.firstChild;
        details.open = !details.open;
    } else if (event.offsetY < 30) {
        event.stopPropagation();
        const details = event.currentTarget.firstChild;
        details.open = true;
    }
}
window.onload = function() {   
    // Add figure number and caption to all images
    const images = document.querySelectorAll("#HTMLpost img");
    let figureNumber = 0;
    images.forEach(img => {
        if (img.alt === "INLINE") { return; }

        figureNumber++;

        img.style.display = "block";
        img.style.margin = "auto";

        const caption = document.createElement("p");
        caption.textContent = `Figure ${figureNumber}. ${img.alt}`;
        caption.style.textAlign = "center";
        caption.style.fontSize = "0.9em"
        caption.style.marginTop = "0.5em";
        img.parentNode.insertBefore(caption, img.nextSibling);        
    });

    // Turn all details open by default in HTMLpost's TOC
    const details = document.querySelectorAll("#HTMLpost .TOCpost details");
    details.forEach(detail => detail.open = true);
};
</script>
</body>
</html>