<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="../../libraries/bootstrap5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="../../libraries/fontawesome6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/atom-one-dark.css">
    
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/github-markdown-dark.css">
    <script src="../../js/topbar.js"></script>
    <title>{{title}}</title>
	
	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="180x180" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../../img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#941739">
	<meta name="msapplication-config" content="../../img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
    <!-- FAVICON -->
</head>

<!-- GOOGLE ANALYTICS TAG (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5RWJF4E3GR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5RWJF4E3GR');
</script>
<!-- GOOGLE ANALYTICS TAG (gtag.js) -->

<body>
<div id="HTMLdata"
section="blog"
rootFolder="../../">
</div>
<div style="display: flex; flex-direction: column; height: 100vh; width: 100vw; overflow-x: hidden; background-color: rgb(35, 39, 50);">
	<div id="HTMLtopbar" style="flex: 0;"></div>
    <div style="flex: 1; display: flex;">
        <div style="flex: 1;"></div>
        <div class="markdown-body" id="HTMLpost" style="flex: 0 1 800px;">{{content}}</div>
        <div style="flex: 1;"></div>
    </div>
</div>
</body>
</html>