<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="{{rootFolder}}assets/libraries/bootstrap5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="{{rootFolder}}assets/libraries/fontawesome6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="{{rootFolder}}assets/css/style.css">
    <script src="{{rootFolder}}assets/js/common.js"></script>
    <title>About me</title>
	
	{{favicon}}
</head>

{{googleAnalytics}}

<body>
<div id="HTMLdata"
section ="about">
</div>
<div style="display: flex; flex-direction: column; height: 100vh; width: 100vw; overflow-x: hidden;">
	<div id="HTMLtopbar" style="flex: 0;">{{HTMLtopbar}}</div>
    <div style="flex: 1; background-color: rgb(26, 28, 29);">
        <div style="line-height: 40px;"><br></div>
        <div style="display: flex;">
            <div style="flex: 1;"></div>
            <div style="flex: 1 0 900px; display: flex; flex-wrap: wrap; text-align: center;">
                <div style="flex: 1; text-align: center;">
                    <img style="border-radius: 1px;" src="{{rootFolder}}assets/img/aboutMain.jpg" alt="Image of myself.">
                </div>
                <div style="flex: 2; margin-left: 36px; margin-right: 34px; text-align: left;">
                    <h2>¡Hola!</h2>
                    <h2>I'm Pablo.</h2><br>
                    <p class="pRich" style="min-width: 400px;">
                        I'm an aerospace / data engineer and software developer based in Italy, currently focused on my master studies. I had my first professional
                        experiences working with partners at Airbus, ESA and the Polytechnic University of Madrid, while also further developing my skills in multiple personal
                        projects. I'm professionally interested in space engineering and software development.
                        <br><br>
                        I hope you enjoy this little website: my projects, blog posts and recipes. If you want to find out more about me I invite you to keep scrolling. (work in progress)
                    </p>
                </div>
            </div>
            <div style="flex: 1;"></div>
        </div>
        <div style="line-height: 40px;"><br></div>
        <hr>
    </div>
</div>
</body>
</html>