<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="{{rootFolder}}assets/libraries/bootstrap5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="{{rootFolder}}assets/libraries/fontawesome6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="{{rootFolder}}assets/css/style.css">
    <script src="{{rootFolder}}assets/js/projects.js"></script>
    <script src="{{rootFolder}}assets/js/common.js"></script>
    <title>Projects</title>
	
	{{favicon}}
</head>

{{googleAnalytics}}

<body>
<div id="HTMLdata"
section ="projects">
</div>
<div style="display: flex; flex-direction: column; height: 100vh; width: 100vw; overflow-x: hidden; background-color: rgb(26, 28, 29);">
	<div id="HTMLtopbar" style="flex: 0;">{{HTMLtopbar}}</div>
    <div id="layoutList" style="flex: 1; display: flex; flex-direction: column;">
        <div style="flex: 0;">
            <div style="display: flex; margin-top: 25px; margin-bottom: 20px;">
                <div style="flex: 1;"><p id="hideAlertChrome" style="color: orangered; font-weight: bolder; transition: opacity 2s">Not all <a class="linkPopUp" href="https://caniuse.com/?search=web%20gpu">browsers</a> support WebGPU yet!</p></div>
                <h2 style="flex: 0;"" id="typewriterProjects">Personal projects...</h2>
                <div style="flex: 1;"></div>
            </div>
            <div style="margin-bottom: 25px; display: flex; justify-content: center;">
                <button id="buttonFilterImportance" class="btn btn-warning" style="border-radius: 1px; margin-right: 12px;"><i class="fa fa-fire"></i>&ensp;Time invested</button>
                <button id="buttonFilterTool" class="btn btn-info" style="border-radius: 1px;"><i class="fa fa-code"></i>&ensp;Tool: All</button>
            </div>
        </div>
        <div style="flex: 0; display: flex;">
            <div style="flex: 1;"></div>
            <div id="gridProjects" style="flex: 8; display: grid;  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); gap: 10px;">
                 <!-- Projects are generated here from parsing the {{rootFolder}}content/projects.json file -->
            </div>
            <div style="flex: 1;"></div>
        </div>
        <br><br>
    </div>
</div>
</body>
</html>