<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="{{rootFolder}}assets/libraries/bootstrap5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="{{rootFolder}}assets/libraries/fontawesome6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="{{rootFolder}}assets/css/style.css">
    <script src="{{rootFolder}}assets/js/recipes.js"></script>
    <script src="{{rootFolder}}assets/js/common.js"></script>
    <title>Recipes</title>
	
	{{favicon}}
</head>

{{googleAnalytics}}

<body>
<div id="HTMLdata"
section="recipes">
</div>
<div style="display: flex; flex-direction: column; height: 100vh; width: 100vw; overflow-x: hidden; background-color: rgb(26, 28, 29);">
	<div id="HTMLtopbar" style="flex: 0;">{{HTMLtopbar}}</div>
    <div style="flex: 1; display: flex;">
        <div style="flex: 1;"></div>
        <div id="HTMLindex" style="flex: 0 1 900px; color: white; background-color: rgb(18, 18, 19);">
            <div class="recipesTop">
                <img id="imageRecipe" src="../assets/img/recipes/amaretti.jpg" style="width: 80%;" alt="Picture of the dish">
                <a id="titleRecipe" href="#"><h2>Recipe title</h2></a>
                <h1 id="buttonPrevRecipe" style="margin-left: 1em;"><</h1>
                <h1 id="buttonNextRecipe" style="right: 20%; margin-right: 1em; text-align: right;">></h1>
                <div class="recipesVerticalFlags">
                    <div id="flagDifficulty">
                        <img src="../assets/img/icons/difficultyVery easy.png">
                        <strong>Very easy</strong>
                    </div>
                    <div id="flagCuisine" style="top: 25%;">
                        <img src="../assets/img/icons/cuisineItalian.png">
                        <strong>Italian</strong>
                    </div>
                    <div style="top: 50%;">
                        <img src="../assets/img/icons/prepTime.png">
                        <strong id="flagPrepTime">20'</strong>
                    </div>
                    <div style="top: 75%; border: none;">
                        <img src="../assets/img/icons/totalTime.png">
                        <strong id="flagTotalTime">45'</strong>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 2px solid rgb(143, 108, 80); height: 2px;"></div>
            <br>
            <div style="display: flex; margin: 4px; font-size: smaller; align-items: center;">
                <div style="flex: 2;"><input type="text" id="nameSearch" placeholder="Search by name" style="width: 100%;"></div>
                <div style="flex: 1; text-align: center;"><label><input type="checkbox" id="checkboxLactose"> Lactose free</label></div>
                <div style="flex: 1; text-align: center;"><label><input type="checkbox" id="checkboxGluten"> Gluten free</label></div>
                <div style="flex: 1; text-align: center;"><label><input type="checkbox" id="checkboxVegetarian"> Vegetarian</label></div>
                <div style="flex: 1; text-align: center;"><label><input type="checkbox" id="checkboxVegan"> Vegan</label></div>
                <div style="flex: 1; text-align: center;"><label><input type="checkbox" id="checkboxIncomplete"> Incomplete</label></div>
            </div>
            <div style="border-bottom: 2px solid rgb(143, 108, 80);"></div>
            <table id="tableRecipes" class="table table-dark table-striped table-hover tableRecipes" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Recipe</th>
                        <th>Category</th>
                        <th>Cuisine</th>
                        <th>Time</th>
                        <th>Difficulty</th>
                    </tr>
                </thead>
                <tbody>
                    {{recipeRows}}
                </tbody>
            </table>
        </div>
        <div style="flex: 1;"></div>
    </div>
</div>
</body>
</html>