<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/topbar.js"></script>
    <script src="../static/js/style.js"></script>
    <title>Projects</title>
	
	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../static/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../static/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../static/img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#941739">
	<meta name="msapplication-config" content="../static/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>

<!-- GOOGLE ANALYTICS TAG (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5RWJF4E3GR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5RWJF4E3GR');
</script>

<body>
<div class="container-fluid">
	<div id="HTMLtopbar"></div>
    <br>
    <h4>Small personal projects</h4>
    <ul>
        <li>Note 1: As of Feb-2024, WebGPU only works on Chrome(release) and Firefox(developer). So if you are on Firefox feel free to switch to the nightly version or to Chrome altogether to be able to visualize.</li>
	    <li>Note 2: <span style="color: rgb(199, 223, 232);">Light blue</span> shades on links mean they were superseeded by new, better and more performant versions.</li>
    </ul>
    <h5>Using <a class="linkPopUp" href="https://en.wikipedia.org/wiki/WebGPU">WebGPU</a> (2021 JavaScript API for GPU-accelerated graphics and computation on the browser):</h5>
    <a class="linkPopUp" href="../content/JSexperiments/webGPUconway/index.html">Conway's Game of Life</a><br>
    <br>
	<h5>Using <a class="linkPopUp" href="https://en.wikipedia.org/wiki/Processing#p5.js">p5.js</a> + <a class="linkPopUp" href="https://en.wikipedia.org/wiki/WebGL">WebGL</a> (2011 JavaScript API for GPU-accelerated graphics on the browser):</h5>
	<a class="linkPopUp" href="../content/JSexperiments/webglConway/index.html" style="color: rgb(199, 223, 232);">Conway's Game of Life</a><br>
    <br>
	<h5>Using <a class="linkPopUp" href="https://en.wikipedia.org/wiki/Processing#p5.js">p5.js</a> (2013 JavaScript library based on 2001 Java's <a class="linkPopUp" href="https://en.wikipedia.org/wiki/Processing">Processing</a> visual design library):</h5>
    <a class="linkPopUp" href="../content/JSexperiments/P5rainbowSmoke/index.html">Rainbow Smoke algorithm</a><br>
	<a class="linkPopUp" href="../content/JSexperiments/noiseFlow/index.html">Noise flowfield</a><br>
    <a class="linkPopUp" href="../content/JSexperiments/Lsystems/index.html">L system tree</a><br>
    <a class="linkPopUp" href="../content/JSexperiments/starfield/index.html">Starfield</a><br>
    <a class="linkPopUp" href="../content/JSexperiments/snakeGame/index.html">Snake Game</a><br>
    <a class="linkPopUp" href="../content/JSexperiments/terrainGen/index.html">Terrain Generation</a><br>
    <br>
    <h4>Master in Space Engineering</h4>
    <h5>Videos:</h5>
	Shown, for now, on the menu<br><br>
    <h5>Presentations:</h5>
	<a class="linkPopUp" href="../content/MEng/OM/index.html">OM presentation</a><br>
</div>
</body>
</html>