<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="../libraries/bootstrap5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="../libraries/fontawesome6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/projects.js"></script>
    <script src="../js/topbar.js"></script>
    <title>Projects</title>
	
	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#941739">
	<meta name="msapplication-config" content="../img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
    <!-- FAVICON -->
</head>

<!-- GOOGLE ANALYTICS TAG (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5RWJF4E3GR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5RWJF4E3GR');
</script>
<!-- GOOGLE ANALYTICS TAG (gtag.js) -->

<body>
<div id="HTMLdata"
section ="projects"
rootFolder="../">
</div>
<div style="display: flex; flex-direction: column; height: 100vh; width: 100vw; overflow-x: hidden; background-color: rgb(26, 28, 29);">
	<div id="HTMLtopbar" style="flex: 0;"></div>
    <div id="layoutList" style="flex: 1; display: flex; flex-direction: column;">
        <div style="flex: 0;">
            <div style="text-align: right; margin-top: 15px;"><span id="buttonFilterMenu" class="btn btn-info" style="border-radius: 1px;"><i class="fa fa-bars"></i>&ensp;Filter</span>&emsp;</div>
            <div style="display: flex;">
                <div style="flex: 1;"><p id="hideAlertChrome" style="color: orangered; font-weight: bolder; transition: opacity 2s">Not all <a class="linkPopUp" href="https://caniuse.com/?search=web%20gpu">browsers</a> support WebGPU yet!</p></div>
                <h2 style="flex: 0;"" id="typewriterProjects">Projects from university.</h2>
                <div style="flex: 1;"></div>
            </div>
            <br>
            <div style="text-align: center; width: 63%; margin: auto;">
                <p class="pRich">Welcome to the projects section, the main part and reason for this website to exist! Towards these is where most of my effort has gone to, and I think it's great to be able to share some of them.</p>
            </div>
        </div>
        <div style="flex: 0; display: flex;">
            <div style="flex: 1;"></div>
            <div id="gridProjects" style="flex: 8; display: grid;  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); gap: 10px;">
                 <!-- Projects are generated here from parsing the ../content/projects.json file -->
            </div>
            <div style="flex: 1;"></div>
        </div>
        <br><br>
    </div>
</div>
</body>
</html>