<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../libraries/bootstrap5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="../libraries/fontawesome6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/topbar.js"></script>
    <script src="../js/projects.js"></script>
    <script src="../js/style.js"></script>
    <title>Projects</title>
	
	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#941739">
	<meta name="msapplication-config" content="../img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
    <!-- FAVICON -->
</head>

<!-- GOOGLE ANALYTICS TAG (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5RWJF4E3GR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5RWJF4E3GR');
</script>
<!-- GOOGLE ANALYTICS TAG (gtag.js) -->

<body>
<div id="HTMLdata"
boldedTopbarButton ="projectsMenuButton">
</div>
<div style="display: flex; flex-direction: column; height: 100vh; width: 100vw; overflow-x: hidden; background-color: rgb(231, 231, 226)">
	<div id="HTMLtopbar" style="flex: 0;"></div>
    <div id="layoutList" style="flex: 1; display: flex; flex-direction: column;">
        <div style="flex: 0;">
            <div style="text-align: right; margin-top: 15px;"><span id="buttonToLayoutText" class="btn btn-info"><i class="fa fa-bars"></i> Text layout</span>&emsp;</div>
            <div style="display: flex;">
                <div style="flex: 1;"><p id="hideAlertChrome" style="color: orangered; font-weight: bolder; transition: opacity 2s">Not all <a class="linkPopUp" href="https://caniuse.com/?search=web%20gpu">browsers</a> support WebGPU yet!</p></div>
                <h2 style="flex: 0;"" id="typewriterProjects">Projects from university.</h2>
                <div style="flex: 1;"></div>
            </div>
            <br>
            <div style="text-align: center; width: 63%; margin: auto;">
                <p style="color: gray;">Welcome to the projects section, the main part and reason for this website to exist! Towards these is where most of my effort has gone to, and I think it's great to be able to share some of them.</p>
            </div>
        </div>
        <div style="flex: 0; display: flex;">
            <div style="flex: 1;"></div>
            <div id="gridProjects" style="flex: 8; display: grid;  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); gap: 10px;">
                <a class="linkPopUp gridElement" href="../content/JSexperiments/GPUrainbowSmoke/index.html" name="rainbowSmoke" project="WebGPU">
                    <div><h3>Rainbow Smoke</h3>
                    <p>WebGPU implementation of the Rainbow Smoke algorithm.</p>
                    <h5>Mar 11th, 2024</h5><div><img></div></div>
                </a>
                <a class="linkPopUp gridElement" href="../content/JSexperiments/webGPUconway/index.html" name="conwayGoL" project="WebGPU">
                    <div><h3>Conway's GoL</h3>
                    <p>WebGPU implementation of Conway's Game of Life.</p>
                    <h5>Feb 21st, 2024</h5><div><img></div></div>
                </a>
                <a class="linkPopUp gridElement" href="../content/JSexperiments/noiseFlow/index.html" name="noiseFlowfield" project="P5js">
                    <div><h3>Noise Flowfield</h3>
                    <p>Illustrating perlin noise flow fields.</p>
                    <h5>Feb 11th, 2024</h5><div><img></div></div>
                </a>
                <a class="linkPopUp gridElement" href="../content/JSexperiments/Lsystems/index.html" name="LsystemsTree" project="P5js">
                    <div><h3>L system tree</h3>
                    <p>Drawing a natural looking tree from a rule-based fractal.</p>
                    <h5>Feb 9th, 2024</h5><div><img></div></div>
                </a>
                <a class="linkPopUp gridElement" href="../content/JSexperiments/starfield/index.html" name="starfield" project="P5js">
                    <div><h3>Starfield</h3>
                    <p>Simple but cool effect that mimics how movies represent near-lightspeed travel.</p>
                    <h5>Apr 4th, 2022</h5><div><img></div></div>
                </a>
            </div>
            <div style="flex: 1;"></div>
        </div>
    </div>
    <div id="layoutText" style="display: none; flex: 1; margin-left: 20px;">
        <div style="text-align: right; margin-top: 15px;"><span id="buttonToLayoutList" class="btn btn-warning"><i class="fa fa-bars"></i> List layout</span>&emsp;</div>
        <h3>Small personal projects</h3>
        <ul>
            <li>Note 1: As of Feb-2024, WebGPU only works on Chrome(release) and Firefox(developer). So if you are on Firefox feel free to switch to the nightly version or to Chrome altogether to be able to visualize.</li>
            <li>Note 2: <span style="color: rgb(199, 223, 232);">Light blue</span> shades on links mean they were superseeded by newer, better and more performant versions.</li>
        </ul>
        <h5>Using <a class="linkPopUp" href="https://en.wikipedia.org/wiki/WebGPU">WebGPU</a> (2021 JavaScript API for GPU-accelerated graphics and computation on the browser):</h5>
        <a class="linkPopUp" href="../content/JSexperiments/GPUrainbowSmoke/index.html"><p>Rainbow Smoke algorithm</p></a>
		<a class="linkPopUp" href="../content/JSexperiments/webGPUconway/index.html"><p>Conway's Game of Life</p></a>
        <br>
        <h5>Using <a class="linkPopUp" href="https://en.wikipedia.org/wiki/Processing#p5.js">p5.js</a> (2013 JavaScript library based on 2001 Java's <a class="linkPopUp" href="https://en.wikipedia.org/wiki/Processing">Processing</a> visual design library):</h5>
        <a class="linkPopUp" href="../content/JSexperiments/P5rainbowSmoke/index.html" style="color: rgb(199, 223, 232);"><p>Rainbow Smoke algorithm</p></a>
        <a class="linkPopUp" href="../content/JSexperiments/webglConway/index.html" style="color: rgb(199, 223, 232);"><p>Conway's Game of Life (and <a class="linkPopUp" href="https://en.wikipedia.org/wiki/WebGL">WebGL</a>)</p></a>
        <a class="linkPopUp" href="../content/JSexperiments/noiseFlow/index.html"><p>Noise flowfield</p></a>
        <a class="linkPopUp" href="../content/JSexperiments/Lsystems/index.html"><p>L system tree</p></a>
        <a class="linkPopUp" href="../content/JSexperiments/starfield/index.html"><p>Starfield</p></a>
        <a class="linkPopUp" href="../content/JSexperiments/snakeGame/index.html"><p>Snake Game</p></a>
        <a class="linkPopUp" href="../content/JSexperiments/terrainGen/index.html"><p>Terrain Generation</p></a>
        <br>
        <h3>Master in Space Engineering projects</h3>
        <h5>Videos:</h5>
        <a class="linkPopUp" href="testx.html"><p>Video 1</p></a>
        <a class="linkPopUp" href="testy.html"><p>Video 2</p></a>
        <br>
        <h5>Presentations:</h5>
        <a class="linkPopUp" href="../content/MEng/OM/index.html"><p>OM presentation</p></a>
        <br>
    </div>
</div>
</body>
</html>