<div style="font-family: tabloidScuzzball, sans-serif;">
    <div class="row" style="height: 3.1vh; font-size: 1.6vh;">
        <div class="col-11 d-flex align-items-center" style="background-color: rgb(17, 75, 95); color: white; height: 100%;">
            &emsp;&emsp;Arbelo Cabrera, Pablo
            &emsp;<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/@pactomars"><i class="fa-brands fa-youtube fa-lg" style="color: rgb(255, 129, 129)"></i></a>
            &emsp;<a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/europeanspaceagency/"><i class="fa-brands fa-instagram fa-lg" style="color: rgb(253, 130, 202)"></i></a>
            &emsp;<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/pablo-arbelo-cabrera-051a951a2"><i class="fa-brands fa-linkedin-in fa-lg" style="color: rgb(90, 176, 247)"></i></a>
            &emsp;<a target="_blank" rel="noopener noreferrer" href="https://github.com/sp-droid"><i class="fa-brands fa-github fa-lg" style="color: rgb(230, 237, 243)"></i></a>
        </div>
        <div class="col d-flex align-items-center justify-content-center" style="background-color: rgb(253, 232, 170); color: rgb(64,74,61); height: 100%;">
            <a target="_blank" rel="noopener noreferrer" href="https://docs.google.com/forms/d/1pK5hPSywf1resOSLIUOESFpqQn6cnRa2YjkRF7d77D8" style="text-decoration: none; font-weight: 500;">Contact link</a>
        </div>
    </div>
    <div class="row" style="height: 6vh; font-size: 2.3vh; background-color: rgb(242, 238, 230); font-weight: normal;">
        <div class="col d-flex align-items-center justify-content-center" style="line-height: 20px; height: 100%">
            <a id="indexMenuButton" href="index.html" style="text-decoration: none; color: rgb(48, 48, 48);">HOME</a>&emsp;
            <a id="test1MenuButton" href="#" style="text-decoration: none; color: rgb(48, 48, 48);">RECIPES</a>&emsp;
            <a id="test2MenuButton" href="#" style="text-decoration: none; color: rgb(48, 48, 48);">PROJECTS</a>&emsp;
            <a id="test3MenuButton" href="#" style="text-decoration: none; color: rgb(48, 48, 48);">Work in progress! Temp links-></a>&emsp;
            <a id="testxMenuButton" href="testx.html" style="text-decoration: none;">Video 1</a>&emsp;
            <a id="testyMenuButton" href="testy.html" style="text-decoration: none;">Video 2</a>&emsp;
            <a target="_blank" rel="noopener noreferrer" id="test4MenuButton" href="../content/2TCT/1starfield/index.html" style="text-decoration: none;">Starfield</a>&emsp;
            <a target="_blank" rel="noopener noreferrer" id="test5MenuButton" href="../content/2TCT/3snakeGame/index.html" style="text-decoration: none;">Snake Game</a>&emsp;
            <a target="_blank" rel="noopener noreferrer" id="test6MenuButton" href="../content/2TCT/11terrainGen/index.html" style="text-decoration: none;">Terrain Generation</a>&emsp;
            <a target="_blank" rel="noopener noreferrer" id="test7MenuButton" href="../content/2TCT/14fractalTree/index.html" style="text-decoration: none;">Fractal Tree</a>&emsp;
            <a target="_blank" rel="noopener noreferrer" id="test8MenuButton" href="../content/MEng/OM/index.html" style="text-decoration: none;">OM presentation</a>&emsp;
        </div>
    </div>
</div>