<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="darkreader-lock">
    <link rel="stylesheet" href="../../libraries/bootstrap5.0.2/bootstrap.min.css">
    <link rel="stylesheet" href="../../libraries/fontawesome6.5.1/css/all.min.css">
    
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../js/topbar.js"></script>
    <script src="../../js/style.js"></script>
    <title>Tiramisù | Recipes</title>
	
	<!-- FAVICON -->
	<link rel="apple-touch-icon" sizes="180x180" href="../../img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="../../img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../../img/favicon/favicon-16x16.png">
	<link rel="manifest" href="../../img/favicon/site.webmanifest">
	<link rel="mask-icon" href="../../img/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="../../img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#941739">
	<meta name="msapplication-config" content="../../img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
    <!-- FAVICON -->
</head>

<!-- GOOGLE ANALYTICS TAG (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5RWJF4E3GR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-5RWJF4E3GR');
</script>
<!-- GOOGLE ANALYTICS TAG (gtag.js) -->

<body>
<div id="HTMLdata"
boldedTopbarButton ="recipesMenuButton"
rootFolder="../../">
</div>
<div style="display: flex; flex-direction: column; height: 100vh; width: 100vw; overflow-x: hidden; background-color: rgb(26, 28, 29);">
	<div id="HTMLtopbar" style="flex: 0;"></div>
    <div style="flex: 0; display: flex;">
        <div style="flex: 1;"></div>
        <div style="flex: 1 0 1000px;">
            <div style="display: flex; flex-wrap: wrap; text-align: center;">
                <div style="flex: 3 0 600px"><img style="width: 100%; border-radius: 2px;" src="../../img/recipes/tiramisu.jpg" alt="Picture of the end result"></div>
                <div style="flex: 1; text-align: left; margin-left: 18px; margin-top: 12px; min-width: 500px;">
                    <div style="margin-bottom: 0px;">
                        <span style="color: white; font-size: larger;"><i class="fas fa-ice-cream"></i></span> <span style="color: rgb(213, 213, 45);">></span> <span style="color: rgb(201, 201, 201); font-size: large;">Dessert</span> 
                    </div>
                    <h2>Tiramisù</h2>
                    <p class="pRich">Tiramisù description</p>
                </div>
            </div>
            <div style="margin-left: 20px; margin-right: 30px; font-size: larger;">
                <br><h2>Difficulty, country origin, labour time, total time, special flags like no gluten</h2>
                <br><hr style="border-top: 1px solid rgb(143, 108, 80);"><br>
                <h2>Ingredients for X people</h2>
                <h4>Ingredient group 1 (General group if there is just one)</h4>
                <ul>
                    <li>Ingredient 1</li>
                    <li>Ingredient 2</li>
                </ul>
                <h4>Ingredient group 2</h4>
                <ul>
                    <li>Ingredient 1</li>
                    <li>Ingredient 2</li>
                </ul>
                <br><hr><br>
                <h2>Utensils</h2>
                <br><hr><br>
                <h2>Steps</h2>
                <h4>Step group 1</h4>
                <ol>
                    <li>Step 1</li>
                    <li>Step 2</li>
                    <li>Step 3</li>
                </ol>
                <h4>Step group 2</h4>
                <ol>
                    <li>Step 1</li>
                    <li>Step 2</li>
                    <li>Step 3</li>
                </ol>
                <br><hr><br>
                <h2>Variants</h2>
                <br><hr><br>
                <div style="width: 600px; border: 3px solid rgb(65, 63, 58); border-radius: 12px; height: 100px; display: flex;">
                    <div style="flex: 1; background-color: rgb(57, 25, 4); border-radius: 8px 0 0 8px; display: flex; align-items: center; justify-content: center;">
                        <i class="fa-stack" style="font-size: 26px; color: black;"><i class="fa-regular fa-circle fa-stack-2x"></i><strong class="fa-stack-1x" style="font-style: normal; font-size: 36px;">!</strong></i>
                    </div>
                    <div style="flex: 6; margin-left: 20px; margin-top: 16px;">
                        <h4>NUTRITION FACTS</h4>
                        <p>264.9 kcal</p>
                    </div>
                </div>
                <br>
                <div style="width: 600px; border: 3px solid rgb(75, 29, 26); border-radius: 12px; display: flex;">
                    <div style="flex: 1; background-color: rgb(219, 50, 41); border-radius: 8px 0 0 8px; display: flex; align-items: center; justify-content: center;">
                        <i style="font-size: 40px; color: black;" class="fas fa-apple-alt"></i>
                    </div>
                    <div style="flex: 6; margin-left: 20px; margin-top: 16px;">
                        <h4>CULINARY TIP</h4>
                        <p>lorem ipsum</p>
                        <hr style="border-top: 3px solid rgb(75, 29, 26);">
                        <h4>SERVING TIP</h4>
                        <p>lorem ipsum</p>
                    </div>
                </div>
                <br><br>
                <div id="disqus_thread"></div>
            </div>
        </div>
        <div style="flex: 1;"></div>
    </div>
</div>
</body>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {
    var d = document, s = d.createElement('script');
    s.src = 'https://sp-droid-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
</html>